{% extends "base.html" %}
{% block content %}
<h1 class="text-center m-3">Sign Up</h1>

<p class="text-reset text-center">
  <em>
    already have an account? Then please, 
    <a class="text-reset href="{{ login_url }}">sign in</a>
  </em>
</p>
<div class="card w-75 text-bg-secondary mb-2 alluth-form">
  <form class="signup m-3 text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-light" type="submit">Sign Up</button>
  </form>
</div>
{% endblock %}
