@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@0;1&family=Libre+Franklin:ital,wght@0,400;0,600;1,400&family=Lobster+Two:wght@400;700&display=swap');
:root{
    --light-gray:rgb(138, 137, 137);
    --dark-gray: rgb(88, 92, 97);
    --yellow:rgb(205, 164, 18);
    --indigo: rgb(106, 113, 178);
}
#bootstrap-overrides{
    background-color: var(--dark-gray)!important;
    color: aliceblue!important;
}
#bootstrap-overrides>nav{
    background-color: var(--indigo);   
}
.box{
    max-width:90%;
    margin: auto;
    background-color: var(--light-gray);
    text-align:center;
    padding: 5px;
}
.box>h2{
    color: var(--yellow);
    font-family: 'Lobster Two', cursive;
    font-size: 45px;
}
#left{
    margin-left: 5rem;
}
.post-form{
    max-width: 60%;
    margin: auto;
}
#make-post{
    background-color: var(--light-gray);
}
#make-post>li{
    list-style-type: none;
    margin-bottom: 5px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
#make-post>button{
    margin: 5px;
    margin-left: 40%;
}
#make-post>input[text-area]{
    resize: none;
}
.card{
    margin:auto;
    text-overflow: ellipsis;
}
.card>p{
    padding: 15px;
}
.card>.hstack{
    padding: 15px;
}
.tag{
    margin-left: 10px;
    border-radius: 35%;
    padding: 5px!important;
    max-width: fit-content;
}
.RED{
    background-color: #FE9696;
}
.category-bar{
    background-color: var(--light-gray);
    margin-bottom: 10px;
    text-align: center;
}
.title{
    color: var(--yellow);
    font-family: 'Lobster Two', cursive;
}