:root{
    --dark-gray: rgb(88, 92, 97);
    --indigo: rgb(106, 113, 178);
}
#bootstrap-overrides{
    background-color: var(--dark-gray)!important;
    color: aliceblue!important;
}
#bootstrap-overrides>nav{
    background-color: var(--indigo);   
}