{% extends "base.html" %}
{% block content %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li {% if message.tag %} class="{{message.tags}}"{% endif %} >
            {{message}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="ms-3">
        <h1 class="mt-4 mb-3 left">Category Page</h1>
        <h2 class="mb-3 left">Find various topics of discussion below:</h2>
    </div>
    {% for category in category_list %}
        <div class="box mb-3">
            <div class="row">
                <div class="col col-1 order-2">
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a class="btn btn-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </a>
                            <ul class="dropdown-menu">
                            {% if user.is_staff %}
                            <li><a class="dropdown-item edit" href="/edit/{{category.category_id}}">
                                Edit '{{category.title}}'?
                            </a></li>
                            <li>
                                <a class="dropdown-item delete" href="/delete/{{category.category_id}}">
                                Delete '{{category.title}}'?
                                </a>
                            </li>
                            {% else %}
                            <li>You must be an admin to edit/delete categories</li>
                            {% endif %}
                            </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="col order-1 col-11 ">
                    <a class="text-decoration-none text-reset" href="{% url 'category_detail' category.slug %}">
                        <h2>{{category.title}}</h2>
                        <h4>{{category.description}}</h4>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    <h3 class="mb-3 ms-3 left">Or make your own:</h3>
    <div class="box">
        <h2>
            <a class="text-decoration-none text-reset" href="/add-category">+ Add new category</a>
        </h2>
        <h4 class="text-white">Can't find the category you want? Add your own!</h4>
    </div>
{% endblock %}