{% extends "base.html" %}
{% block content %}
    <h1 class="mt-4 mb-3 left">Category Page</h1>
    <h2 class="mb-3 left">Find various topics of discussion below:</h2>
    {% for category in category_list %}
        <div class="box mb-3">
            {% if user.is_authenticated %}
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </a>
                    <ul class="dropdown-menu">
                    {% if user.is_admin %}
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    {% else %}
                    <li>You must be an admin to edit/delete categories</li>
                    {% endif %}
                    </ul>
              </div>
            {% endif %}
            <a href="{% url 'category_detail' category.slug %}">
                <h2>{{category.title}}</h2>
                <h4>{{category.description}}</h4>
            </a>
        </div>
    {% endfor %}
    <h3 class="mb-3 left">Or make your own:</h3>
    <div class="box">
        <h2>
            <a href="/add-category">+ Add new category</a>
        </h2>
        <h4 class="text-white">Can't find the category you want? Add your own!</h4>
    </div>
{% endblock %}